@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.first-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.first-section button {
  width: 100px;
  height: 40px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card {
  border-radius: 5px;
  margin: 20px;
  background-color: #f5f5f5;
  max-width: 100%;
}
.card img {
  width: 100%;
  height: 350px;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}
.card h3 {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 500;
}
p {
  font-size: 14px;
  font-weight: 400;
}
.details,
.remove {
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.details {
  background-color: rgb(21, 100, 21);
}
.remove {
  background-color: rgb(187, 10, 10);
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.card-content {
  padding: 0 10px;
}
a,
p {
  font-size: 15px;
  color: black;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
p {
  display: inline;
}
